<html>
  <head>
    <meta charset='UTF-8' />
    <title>Time and IP Address</title>
  </head>
  <body>
    <h1>Current time is: <%= Time.now %></h1>
    <h1> Client IP Address is <%= @address%></h1>
  </body>
</html>